body > .ui-page {
	width:80%;
}

.ui-header .ui-search-appliance .ui-search-appliance-input {
	width:29em;
}

.ui-search-appliance .ui-search-appliance-buttonset {
	margin-right:1em;
}

#galleria.ui-gallery {
	width:732px;
	height:432px;
}

